/* universal
class
id
element */
*{
    margin:0;
}
body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container{
    background: white;
    display: flex;
    width: 700px;
    height: 400px;
    padding: 50px;
    flex-direction: column;
    align-self: center;
    border-radius: 20px;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container >.row{
    width: 100%;
    justify-content: space-evenly;
}
.pic{
    border-radius: 50%;
    border:2px solid salmon;
}
.name{
    font-size: x-large;
    font-weight: bold;
}
.score{
    font-size: xx-large;
}

.runs{
    font-size: xx-large;
    width: 200px;
    justify-content: space-evenly;
}

#strikebutton{
    background-color: blueviolet;
    font-size: larger;
    width:300px;
    height:150 px;
    color:white;
    margin-top: 50px;
    /* margin-bottom: -50px; */
    border-radius: 25px;
    outline: none;
}
